#aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 130px -28px - 28px);
}

#aboutUs .nome-sessao {
  text-align: center;
}

#aboutUs .titulo-sessao {
  text-align: center;
  padding: 0 8%;
}

#infos_aboutUs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 27px 8%;
}

#item_aboutUs {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  & img {
    max-height: 250px;
  }
  & h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--cor-fonte);
  }
  & p {
    font-size: 0.9rem;
    color: var(--cor-fonte);
  }
}

#infos_aboutUs_carousel {
  display: none;
}

@media screen and (max-width: 1240px) {
  #infos_aboutUs {
    gap: 40px;
  }
}

@media screen and (max-width: 870px) {
  #infos_aboutUs {
    display: none;
  }

  #infos_aboutUs_carousel {
    display: block;
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 20px 0;
  }

  .carousel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
    width: 100%;
  }

  .carousel-item {
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
  }

  .carousel-item > * {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .carousel-item img {
    width: 100%;
    max-width: 250px;
    height: auto;
  }

  .carousel-item h3 {
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--cor-fonte);
  }

  .carousel-item p {
    font-size: 0.9rem;
    color: var(--cor-fonte);
  }

  .carousel-nav {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    gap: 40px;
  }

  .carousel-nav button {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--cor-secundaria);
    cursor: pointer;
  }
}
