#event {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5%;
  gap: 20px;

  & p span {
    font-size: 0.9rem;
    color: var(--cor-secundaria);
  }
}

@media screen and (max-width: 870px) {
  #event {
    flex-direction: column-reverse;
    align-items: center;
  }

  #event img {
    width: 100%;
  }
}
