header {
  width: 100%;
  padding: 10px 8%;
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav_logo {
  width: 120px;
}

#nav_list {
  display: flex;
  list-style: none;
  gap: 48px;
}

.nav-item a {
  text-decoration: none;
  color: #263238;
  font-weight: 500;
}

.nav-item.active a {
  font-weight: 600;
  border-bottom: 3px solid #f2c94c;
}

#mobile_btn {
  display: none;
}

#mobile_menu {
  display: none;
}

@media screen and (max-width: 1170px) {
  #nav_list {
    display: none;
  }

  #mobile_btn {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #mobile_menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mobile_nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0;
  }

  #mobile_nav_list .nav-item {
    list-style: none;
    text-align: center;
  }
}
