@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("./header.css");
@import url("./home.css");
@import url("./aboutUs.css");
@import url("./menu.css");
@import url("./event.css");
@import url("./preSale.css");
@import url("./footer.css");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

section {
  padding: 28px 8%;
}

.btn-default {
  background-color: #f2c94c;
  color: #263238;
  border: none;
  box-shadow: 0px 0px 20.7px 7px rgba(0, 0, 0, 0.1);
  padding: 14px 9px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.btn-default:hover {
  filter: brightness(1.1);
}

.social-media-buttons {
  display: flex;
  gap: 18px;
}

.social-media-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  background-color: #ffffff;
  font-size: 1.25rem;
  border-radius: 10px;
  text-decoration: none;
  color: #263238;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-out;
}

.social-media-buttons a:hover {
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.nome-sessao {
  color: #eb0029;
  font-size: 1.12rem;
  font-weight: 600;
  text-transform: uppercase;
}

.titulo-sessao {
  color: #263238;
  font-size: 2rem;
  font-weight: 700;
}

.texto-info {
  font-size: 0.9rem;
  color: #263238;
  margin-top: 25px;
}

#footnote {
  text-align: center;
  font-size: 0.6rem;
  color: #263238;
}

@media screen and (max-width: 420px) {
  .nome-sessao {
    font-size: 1rem;
  }

  .titulo-sessao {
    font-size: 1.5rem;
  }

  #footnote {
    text-align: center;
    font-size: 0.45rem;
    color: #263238;
  }
}
